fastapi
uvicorn
python-dotenv
jinja2
python-multipart
httpx
requests
beautifulsoup4
lxml
xmltodict
cloudscraper
openai
langchain
langchain-openai
langchain-community
langchain-core
tiktoken
rapidfuzz
chromadb
pysqlite3-binary
pandas
numpy
faiss-cpu
apscheduler